* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img, iframe {
  vertical-align: bottom;
  max-width: 100% !important;
}

img {
  height: auto;
}

a img p {
  border: 0;
}

/* --------------  body --------------  */
body {
  font-size: 14px;
  font-family: 'arial';
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  /* smooth typo */
  color: #111;
  background-color: #87c7c4;
  background: -webkit-gradient(linear, left top, left bottom, from(#87c7c4), color-stop(67%, #9d4589), to(#24388a));
  background: linear-gradient(180deg, #87c7c4 0%, #9d4589 67%, #24388a 100%);
  min-height: 120vh;
}

html {
  background-color: #87c7c4;
  background: -webkit-gradient(linear, left top, left bottom, from(#87c7c4), color-stop(67%, #9d4589), to(#24388a));
  background: linear-gradient(180deg, #87c7c4 0%, #9d4589 67%, #24388a 100%);
}

a {
  text-decoration: none;
  color: #000;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

a:hover {
  color: #231F20;
  text-decoration: none;
}

.letitre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  font-weight: 500;
  padding: 30px;
  text-align: center;
}

.letitre h1 {
  text-align: center;
}

.letree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-weight: 500;
}

.letree p {
  margin: 40px 20px 0 20px;
  max-width: 545px;
  background: #ffffffbd;
  text-align: center;
  padding: 11px;
  border-radius: 6px;
}

.letree span {
  position: absolute;
  left: 4px;
  font-size: 1.4em;
  background-color: #ffffffc4;
  border-radius: 50%;
  width: 52px;
  height: 49px;
  border: 3px solid #000000ba;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.letree a {
  position: relative;
  border: 3px solid black;
  display: block;
  padding: 20px 20px 20px 40px;
  border-radius: 50px;
  margin: 10px;
  max-width: 300px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.306);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.letree a:hover {
  background-color: rgba(255, 255, 255, 0.695);
}

/* --------- zoom plan ---------- */
.container_plan {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.download_plan {
  position: absolute;
  right: 15px;
  bottom: -24px;
  font-size: 1.4em;
  background-color: #ffffff;
  border-radius: 50%;
  width: 55px;
  height: 53px;
  border: 3px solid #000000ba;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* --------- footer: copyright ---------- */
.footer {
  background-color: #111;
  color: rgba(255, 255, 255, 0.695);
  padding: 10px;
  margin-top: 60px;
}

.footer a {
  color: #fff;
}
/*# sourceMappingURL=style.css.map */